.IconButton {
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    display: flex;
}

.IconButton:hover {
    background-color: var(--icon-button-color);
}

.IconButton svg {
    width: 16px;
    fill: var(--icon-color);
}