.Sidebar {
    padding: 0 12px;
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
}

.empty {
    color: #808080;
    text-align: center;
    flex: 1;
    padding-top: 24px;
}